


body{
    color: darkcyan;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;

    line-height: 1.6em;
}

.clr{
    clear: both;
}

.thomassowell{
    width: 80%;
    margin: auto;
    background-color: red;
    text-align: center;
}

.inicio h1{
    text-align: center;
    background-color:burlywood;
    width: 80%;
    margin: auto;
}

a{
    text-decoration: none;
    color: #000; 
}

a:hover{
    color: red;
    bottom: red;
}

.button:hover{
    background: red;
    color: #fff;
}

.sublime{
    border-radius: 0vmin;
}

.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none    ;
}

.things{
    text-align: center;
}



.inicio{
    text-align: center;
}

.my-form{
    padding: 20px;
    font-style: inherit;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100% ;
}

.container{
    background-color: rebeccapurple;
    width: 80%;
    margin: auto;
    color: white;
}

.segundo2{
    width: 80%;
    margin: auto;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-bottom: 5px red solid;
    border-top: 5px red solid;

    background-color:violet;
    color: black;
    }

.filosofia{
    width: 80%;
    margin: auto;
}

.filosofia h1{
    font-family: cursive; 
    font-weight: 900;
    text-align: center;
}
.thomas h1{
    text-align: center;
    background: black;
}

.sowell h1{
    text-align: center;
    color: coral
}

.sowell{
    text-align: center;
    background-color: red;
    box-sizing: border-box;
    vertical-align: middle;
}

.filosofia{
    text-align: center;    
}

.economia{
    width: 80%;
    margin: auto;
    background-color: rgb(43, 46, 226);
    color: whitesmoke;
}

.tercer-articulo{
    text-align: center;
}

.citas-economia h2{
    text-align: center;
    background-position: center ;
    background-color: violet;
    width: 80%;
    margin: auto;
}

.articulos{
    text-align: center;
}

.categorias{
    color-adjust: red;
}

.boton{
    padding: 8px;
    width: 100%;
    
}

.block{
    float: left;
    width: 33.3%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.fix-me{
    position: fixed;
    top: 400px;
}

.list li:first-child{
    background-color: aqua;
}

.list li:last-child{
    background-color: black;
}

.list li:nth-child(2){
    background-color: rebeccapurple;
}

.list li:nth-child(3){
    background-color: red;
}

.list li:nth-child(4){
    background-color: yellow;
}

.list li:nth-child(5){
    background-color: green;
}

.list li:nth-child(6){
    background-color: pink;
}